
.ventas_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}


.registro_venta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container{
    display: flex;
    margin: 15px;
}

.botones{
    margin: 15px;
}

.boton{
    margin-right: 20px;
}

